img.o{vertical-align:middle;margin-left:3px;margin-right:3px;}
td.o{text-align:center;}
.cr{margin: 4px;}
td.ct{font-family:serif;margin:2px;font-size:18px;}
table.issue{border:solid 1px #aaa;}
th{text-align:center;font-size:19px;}
