c/*.o
c/*.d
c/countvotes
c/libvote.a
c/permuteutil
go/countvotes/countvotes
go/lib
go/pkg
java/*.class
java/vote.jar
java/target
python/*.pyc
test/*.pyc
simulator/*.o
simulator/trial.pb.cc
simulator/trial.pb.h
simulator/sgpb
simulator/spacegraph
simulator/speedtest
simulator/vsmall
simulator/processprl
simulator/render_mcpb
simulator/local.make
Attic
*~
.DS_Store
simulator/results
python/ve
data
